.page{
    width: 100%;
    height: 780px;
}
.top-banner{
    height: 60px;
    background-color: #F1F2E9;
   font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: 30px;
    line-height: 60px;
}
h3{
    color:  #1a2435;
}
.navigation{
    height: 45px;
    background-color: #F1F2E9;
}
.small-part{
    width: 14.9%;
    height: 45px;
    background-color: #1a2435;
    float: left;
}
.big-part{
    width: 85%;
    height: 45px;
    background-color: #1e3761;
    float:right;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
    line-height: 45px;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}
li{
    float: left;
    border-right: 1px solid #156ee1;
}
a{
    display: block;
    padding: 0 28px;
    color: #fff;
    text-decoration: none;
}
a:hover,.active a{
    background-color: #156ee1;
}
.sections{
    width: 1100px;
    height: 400px;
    margin: 0 auto; 
    font-family: lato;
   background-color: aliceblue;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.section1{
    width: 300px;
    float: left;
    margin-left: 35px;
    margin-right: 30px;
    margin-top: 40px;
}
.section1 img{
    width: 100%;
}
.learn{
    
    list-style: none;
    
    line-height: 45px;
    background-color: #1e3761;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

   


}

.footer{
    
    height:220px;
    margin: 0 auto;
    background-color:#273650;
    color: rgb(204, 203, 203);
}
.about{
    width: 250px;
    height: 28px;
    letter-spacing: 15px;
    margin:0 auto;
    color: rgb(146, 206, 154);
    text-decoration: none;  
}
.info{
    width: 250px;
    margin:0 auto;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.content h2{
    text-align: center;
}.pdf{
    width:1000px;
    margin: 0 auto;
}


